body {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

    font-family: "Noto Sans", sans-serif;
}

nav {
    width: 151px; /* pixel-perfect lw logo */
    flex: 0 0 auto;

    padding: 1em;
}

nav img {
    width: 100%;
}

main {
    flex: 1;
    max-width: 800px;
}

main img {
    width: 100%;
}

img.inline {
    height: 1em;
    width: 1em;
    object-fit: contain;
}

blockquote.yellow {
    background: lightyellow;
    border: 2px solid yellow;
    padding: 0.5em;
}

blockquote.yellow :first-child {
    margin: 0;
}

