<html>
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/img/logo-32px.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<nav>
<picture>
<source srcset="/assets/img/logo-small.webp">
<img src="/assets/img/logo-small.png" alt="linux-wiiu logo">
</picture>
{% capture nav %}{% include nav.md %}{% endcapture %}{{ nav | markdownify}}
</nav>
<main>
    {{ content }}
</main>
</body>
</html>
